.img {
   position: absolute;
   
}

.logo {
	width: 100%;
	position: relative;
	background-size: cover;
	min-height: 420px;
   
}

.logo .content {
	position: relative;
	z-index: 4;
	width: 90%;
	left: 5vw;
	top: 3vw;
	text-align: left;
}

@media only screen and (max-width: '600px') {
	.logo .content {
		top: 36vw;
	}
}

.logo .overlay {
	height: 100%;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;

}
